<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cafe House Template</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/templatemo-style.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<body>
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloader -->
<div class="tm-top-header">
    <div class="container">
        <div class="row">
            <div class="tm-top-header-inner">
                <div class="tm-logo-container">
                    <img src="img/logo.png" alt="Logo" class="tm-site-logo">
                    <h1 class="tm-site-name tm-handwriting-font">Coffee Shop</h1>
                </div>
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <nav class="tm-nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="today-special.html">Today Special</a></li>
                        <li><a href="menu.html">Menu</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="contact.html">Register</a></li>
                        <li><a href="contact.html">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="tm-welcome-section">
    <div class="container tm-position-relative">
        <div class="row tm-welcome-content">
            <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="img/header-line.png" alt="Line"
                                                                              class="tm-header-line">&nbsp;Welcome To&nbsp;&nbsp;<img
                    src="img/header-line.png" alt="Line"
                    class="tm-header-line"></h2>
            <h2 class="gold-text tm-welcome-header-2">Coffee Shop</h2>
        </div>
        <img src="img/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
    </div>
</section>
<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
        <section class="tm-section row">
            <div class="col-lg-9 col-md-9 col-sm-8">
                <h2 class="tm-section-header gold-text tm-handwriting-font">The Best Coffee for you</h2>
                <h2>Coffee Shop</h2>
                <p class="tm-welcome-description">
                    Chào mừng bạn đến với Coffee Shop, nơi truyền thống gặp gỡ sự đổi mới. Thưởng thức thực đơn đa dạng
                    của
                    chúng tôi bao gồm mọi thứ từ cà phê đậm đặc của Việt Nam đến các loại trà trái cây tươi mát. Cho dù
                    bạn đến
                    đây để đón khách nhanh hay để trò chuyện nhàn nhã, bầu không khí chào đón và đội ngũ tận tâm của
                    chúng tôi
                    đều có mặt để đảm bảo trải nghiệm đặc biệt. Hãy đến với chúng tôi và thưởng thức những hương vị
                    tuyệt vời
                    nhất được chế tác bằng niềm đam mê và độ chính xác. </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
                <div class="inline-block shadow-img">
                    <img src="img/1.jpg" alt="Image" class="img-circle img-thumbnail">
                </div>
            </div>
        </section>
        <section class="tm-section tm-section-margin-bottom-0 row">
            <div class="col-lg-12 tm-section-header-container">
                <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo"
                                                                                 class="tm-site-logo"> Popular Items
                </h2>
                <div class="tm-hr-container">
                    <hr class="tm-hr">
                </div>
            </div>
            <div class="col-lg-12 tm-popular-items-container">
                <div class="tm-popular-item">
                    <img src="img/popular-1.jpg" alt="Popular" class="tm-popular-item-img">
                    <div class="tm-popular-item-description">
                        <h3 class="tm-handwriting-font tm-popular-item-title"><span
                                class="tm-handwriting-font bigger-first-letter">a</span>mericano</h3>
                        <hr class="tm-popular-item-hr">
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                            sem
                            neque. sed ipsum.</p>
                        <div class="order-now-container">
                            <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="tm-popular-item">
                    <img src="img/popular-2.jpg" alt="Popular" class="tm-popular-item-img">
                    <div class="tm-popular-item-description">
                        <h3 class="tm-handwriting-font tm-popular-item-title"><span
                                class="tm-handwriting-font bigger-first-letter">c</span>appuccino</h3>
                        <hr class="tm-popular-item-hr">
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                            sem
                            neque. sed ipsum.</p>
                        <div class="order-now-container">
                            <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="tm-popular-item">
                    <img src="img/popular-3.jpg" alt="Popular" class="tm-popular-item-img">
                    <div class="tm-popular-item-description">
                        <h3 class="tm-handwriting-font tm-popular-item-title"><span
                                class="tm-handwriting-font bigger-first-letter">m</span>ocha</h3>
                        <hr class="tm-popular-item-hr">
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                            sem
                            neque. sed ipsum.</p>
                        <div class="order-now-container">
                            <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tm-section">
            <div class="row">
                <div class="col-lg-12 tm-section-header-container">
                    <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo"
                                                                                     class="tm-site-logo"> Daily Menu
                    </h2>
                    <div class="tm-hr-container">
                        <hr class="tm-hr">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="tm-daily-menu-container margin-top-60">
                    <div class="col-lg-4 col-md-4">
                        <img src="img/menu-board.png" alt="Menu board" class="tm-daily-menu-img">
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <p>
                            Tại Coffee Shop, chúng tôi tin tưởng vào việc cung cấp nhiều hương vị đa dạng để đáp ứng mọi
                            khẩu vị. Từ
                            hương vị đậm đà và đậm đà của cà phê truyền thống Việt Nam đến các loại trà trái cây tươi
                            mát và sáng
                            tạo, thực đơn của chúng tôi được thiết kế để làm hài lòng quý khách. </p>
                        <ol class="margin-top-30">
                            <li>Cà phê highligt: Những loại cà phê hảo hạng, nổi bật với hương vị đậm đà và phong phú
                                của cà phê
                                Việt Nam.
                            </li>
                            <li>Cà phê Việt Nam: Cà phê truyền thống Việt Nam, nổi tiếng với hương vị mạnh mẽ và đậm
                                đà.
                            </li>
                            <li>Cà phê máy: Các loại đồ uống từ espresso với một chút biến tấu hiện đại, hoàn hảo cho
                                những người
                                yêu thích cà phê.
                            </li>
                            <li>Cold brew: Cà phê pha lạnh mịn màng và sảng khoái với hương vị dịu nhẹ, đặc biệt.</li>
                            <li>Trà trái cây: Các loại trà trái cây tươi mát, mang đến sự cân bằng tuyệt vời giữa vị
                                ngọt và chua.
                            </li>
                            <li>Hi-tea: Các loại trà sáng tạo, kết hợp những nguyên liệu tốt nhất cho trải nghiệm tươi
                                mới.
                            </li>
                            <li>Trà xanh tây bắc: Trà xanh Tây Bắc chính gốc, nổi bật với hương vị đất và chút đắng
                                nhẹ.
                            </li>
                            <li>Chocolate: Các loại đồ uống chocolate đậm đà và mịn màng, hoàn hảo để thưởng thức như
                                một món ngọt.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<footer>
    <div class="tm-black-bg">
        <div class="container">
            <div class="row margin-bottom-60">
                <nav class="col-lg-3 col-md-3 tm-footer-nav tm-footer-div">
                    <h3 class="tm-footer-div-title">Main Menu</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Directory</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Our Services</a></li>
                    </ul>
                </nav>
                <div class="col-lg-5 col-md-5 tm-footer-div">
                    <h3 class="tm-footer-div-title">About Us</h3>
                    <p class="margin-top-15">Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                        Aliquam lorem
                        ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                        laoreet.</p>
                    <p class="margin-top-15">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                        nec odio
                        et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                </div>
                <div class="col-lg-4 col-md-4 tm-footer-div">
                    <h3 class="tm-footer-div-title">Get Social</h3>
                    <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante.</p>
                    <div class="tm-social-icons-container">
                        <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row tm-copyright">
                <p class="col-lg-12 small copyright-text text-center">Copyright &copy; 2024 Coffee Shop</p>
            </div>
        </div>
    </div>
</footer> <!-- Footer content-->
<!-- JS -->
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script> <!-- jQuery -->
<script type="text/javascript" src="js/templatemo-script.js"></script> <!-- Templatemo Script -->

</body>

</html>